  <p style="color: green"><%= notice %></p>
<%= render @cart %>

<div>
  <%= link_to "Edit this cart", edit_cart_path(@cart) ,class:"btn btn-primary" %> |
  <%= link_to "Back to carts", carts_path ,class:"btn btn-dark" %>

  <%= button_to "Delete", @cart, method: :delete ,class:"btn btn-danger"%>
</div>
